.label {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-background-radius: 1em 1em 1em 1em;
    -fx-border-radius: 1em 1em 1em 1em;
}

#displayPicture {

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

