.root {
    main-color: rgb(230, 230, 230);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-font: 15px "Andale Mono";
    -fx-border-width: 1px;
    -fx-border-color: #605f5f #605F5F #605F5F #605F5F;
}

.button {
    -fx-background-color: #ffffff;
    -fx-font: 16px "Andale Mono";
    -fx-font-color: #000000;
    -fx-border-width: 1px;
    -fx-border-color: #605F5F #605F5F #605F5F #605F5F;
}

.button:hover {
    -fx-underline: true;
}

.button:pressed {
    -fx-background-color: #959393;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #6c6c6c;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

